@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Tilt Neon;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
